@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-user-gray    { background: rgba(128, 128, 128, 0.30); }
.bg-user-brown   { background: rgba(128, 64, 0, 0.30); }
.bg-user-green   { background: rgba(0, 128, 0, 0.30); }
.bg-user-cyan    { background: rgba(0, 192, 192, 0.30); }
.bg-user-blue    { background: rgba(0, 0, 255, 0.30); }
.bg-user-yellow  { background: rgba(192, 192, 0, 0.30); }
.bg-user-orange  { background: rgba(255, 128, 0, 0.30); }
.bg-user-red     { background: rgba(255, 0, 0, 0.30); }
